allure-pytest
allure-python-commons
ddt
Django
fake-useragent
openpyxl
pycryptodome
pymongo
PyMySQL
pytest
pytest-base-url
pytest-forked
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
PyYAML==5.3
requests
selenium
